version: "3.8"

services:
  cloudflared:
    container_name: cloudflared
    hostname: cloudflared
    image: msnelling/cloudflared:{{ cloudflared_version | default('latest') }}
    restart: unless-stopped
    command: "/usr/local/bin/cloudflared tunnel --no-autoupdate run"
    volumes:
      - cloudflared-data:/etc/cloudflared
    networks:
      - {{ cloudflared_network | default(networks[0]) }}
    labels:
      - domain={{ domain }}
{% if 'watchtower' in services %}
{% if cloudflared_autoupdate is defined and cloudflared_autoupdate == "enable" %}
      - com.centurylinklabs.watchtower.enable=true
{% endif %}
{% if cloudflared_autoupdate is not defined or cloudflared_autoupdate == "monitor" %}
      - com.centurylinklabs.watchtower.monitor-only=true
{% endif %}
{% endif %}

networks:
  {{ cloudflared_network | default(networks[0]) }}:
    external: true

volumes:
  cloudflared-data:
    external: true
