version: "3.8"

services:
  transmission:
    container_name: transmission
    hostname: transmission
    image: ghcr.io/linuxserver/transmission:{{ transmission_version }}
    restart: unless-stopped
    environment:
      - PUID={{ ansible_facts.user_uid }}
      - PGID={{ ansible_facts.user_gid }}
      - TZ={{ timezone }}
      - USER={{ transmission_user }}
      - PASS={{ transmission_password }}
    volumes:
      - {{ project_dir }}/transmission/data:/config
{% if 'nfs' == transmission_storage %}
      - downloads:/downloads
      - watch:/watch
{% elif 'path' == transmission_storage %}
      - {{ transmission_download_path }}:/downloads
      - {{ transmission_watch_path }}:/watch
{% endif %}
    networks:
      - {{ transmission_network }}
    expose:
      - 9091
    ports:
      - 51413:51413
      - 51413:51413/udp
    labels:
      - traefik.enable=true
      - traefik.http.services.transmission.loadbalancer.server.port=9091
      - traefik.http.routers.transmission.rule=Host(`transmission.{{ domain }}`) && PathPrefix(`/transmission`)
      - traefik.http.routers.transmission.entrypoints=websecure
      - traefik.http.routers.transmission.service=transmission

  transmission-flood:
    container_name: transmission-flood
    hostname: transmission-flood
    image: jesec/flood:{{ transmission_flood_version }}
    restart: unless-stopped
    user: "{{ ansible_facts.user_uid }}:{{ ansible_facts.user_gid }}"
    environment:
      - TZ={{ timezone }}
      - FLOOD_OPTION_AUTH=none
      - FLOOD_OPTION_TRURL=http://transmission:9091/transmission/rpc
      - FLOOD_OPTION_TRUSER={{ transmission_user }}
      - FLOOD_OPTION_TRPASS={{ transmission_password }}
      - FLOOD_OPTION_BASEURI=/flood
    networks:
      - {{ transmission_network }}
    expose:
      - 3000
    labels:
      - traefik.enable=true
      - traefik.http.services.flood.loadbalancer.server.port=3000
      - traefik.http.routers.flood.rule=Host(`transmission.{{ domain }}`) && PathPrefix(`/flood`)
      - traefik.http.routers.flood.entrypoints=websecure
      - traefik.http.routers.flood.service=flood
      - simplydash.enable=true
      - simplydash.name=Transmission
      - simplydash.description=Torrent Client
      - simplydash.link=https://transmission.{{ domain }}/flood
      - simplydash.group=apps

networks:
  {{ transmission_network }}:
    external: true

{% if 'nfs' == transmission_storage %}
volumes:
  downloads:
    driver_opts:
      type: "nfs" 
      o: "addr={{ transmission_nfs_server }},{{ transmission_nfs_opts }}"
      device: ":{{ transmission_nfs_download }}"
  watch:
    driver_opts:
      type: "nfs" 
      o: "addr={{ transmission_nfs_server }},{{ transmission_nfs_opts }}"
      device: ":{{ transmission_nfs_watch }}"

{% endif %}
