version: "3.8"

services:
  jackett:
    container_name: jackett
    hostname: jackett
    image: ghcr.io/linuxserver/jackett:{{ jackett_version | default('latest') }}
    restart: unless-stopped
    environment:
      - PUID={{ ansible_facts.user_uid }}
      - PGID={{ ansible_facts.user_gid }}
      - TZ={{ timezone }}
{% if jackett_dark_theme is not defined or jackett_dark_theme is true %}
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:jackett
{% endif %}
    volumes:
      - {{ project_dir }}/jackett/data:/config
    networks:
      - {{ jackett_network | default(networks[0]) }}
    ports:
      - 9117:9117
    labels:
      - domain={{ domain }}
{% if 'traefik' in services %}
      - traefik.enable=true
      - traefik.http.routers.jackett.rule=Host(`jackett.{{ domain }}`)
      - traefik.http.routers.jackett.entrypoints=websecure
      - traefik.http.services.jackett.loadbalancer.server.port=9117
      - traefik.http.routers.jackett.service=jackett
      - traefik.http.routers.jackett.tls.certresolver={{ traefik_acme_provider }}
{% endif %}
{% if 'flame' in services %}
      - flame.type=application
      - flame.name=Jackett
      - flame.url=jackett.{{ domain }}
      - flame.icon=card-search
{% endif %}
{% if 'watchtower' in services %}
{% if jackett_autoupdate is defined and jackett_autoupdate == "enable" %}
      - com.centurylinklabs.watchtower.enable=true
{% endif %}
{% if jackett_autoupdate is not defined or jackett_autoupdate == "monitor" %}
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.monitor-only=true
{% endif %}
{% endif %}


networks:
  {{ jackett_network | default(networks[0]) }}:
    external: true 
