# Ignore inventory file
inventory.yml
*.inventory.yml
!example.inventory.yml


# ignore group vars except for examples and readme
group_vars/*
!group_vars/all.example.yml
!group_vars/README.md

# ignore host vars except for examples and readme
host_vars/*
!host_vars/example.yml
!host_vars/README.md

# ignore all vars.yml files for each individual service
services/*/*.yml
!services/**/install.yml
!services/**/preconfigure.yml
!services/**/configure.yml
!services/**/example.vars.yml
!services/.ansible.builtin.template/vars.yml

# ignore all debug playbooks
debug

# ignore all PEM cert files
*.pem

# Ignore cloudflared tunnel files
services/cloudflared/scripts/.cloudflared
services/cloudflared/files

# Ignore telegraf conf
services/telegraf/files/telegraf.conf
