version: "3.8"

services:
  template:
    container_name: template
    hostname: template
    image: template/template:{{ template_version }}
    restart: unless-stopped
    user: "{{ ansible_facts.user_uid }}:{{ ansible_facts.user_gid }}"
    networks:
      - {{ template_network }}
    ports:
      - 8000:8000
    labels:
      - traefik.enable=true
      - traefik.http.routers.template.rule=Host(`template.{{ domain }}`)
      - traefik.http.routers.template.entrypoints=websecure
      - traefik.http.services.template.loadbalancer.server.port=8000
      - traefik.http.routers.template.service=template

networks:
  {{ template_network }}:
    external: true
