version: "3.8"

services:
  traefik:
    container_name: traefik
    hostname: traefik
    image: traefik:{{ traefik_version }}
    restart: unless-stopped
    command:
      - "--api=true"
      - "--accesslog={{ traefik_access_logs }}"
      - "--providers.docker=true"
      - "--providers.docker.network={{ traefik_network }}"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
{% if traefik_https %}
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
{% if traefik_acme_enabled %}
      - "--entrypoints.websecure.http.tls=true"
      - "--entrypoints.websecure.http.tls.certresolver=acme_provider"
      - "--entrypoints.websecure.http.tls.domains[0].main={{ domain }}"
      - "--entrypoints.websecure.http.tls.domains[0].sans=*.{{ domain }}"
      - "--certificatesresolvers.acme_provider.acme.dnschallenge=true"
      - "--certificatesresolvers.acme_provider.acme.dnschallenge.provider={{ traefik_acme_provider }}"
      - "--certificatesresolvers.acme_provider.acme.email=$TRAEFIK_ACME_EMAIL"
      - "--certificatesresolvers.acme_provider.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.acme_provider.acme.caserver=https://acme{% if traefik_acme_staging %}-staging{% endif %}-v02.api.letsencrypt.org/directory"
{% endif %}
{% endif %}
{% if traefik_metrics %}
      - "--metrics.prometheus=true"
      - "--entryPoints.metrics.address=:8081"
      - "--metrics.prometheus.entrypoint=websecure"
{% endif %}
    environment:
      - PUID={{ ansible_facts.user_uid }}
      - PGID={{ ansible_facts.user_gid }}
      - TZ={{ timezone }}
{% if traefik_https and traefik_acme_enabled %}
{% for var in traefik_acme_env %}
      - {{ var }}=${{ var }}
{% endfor %}
{% endif %}
    networks:
      - {{ traefik_network }}
    dns:
      - '1.1.1.1'
      - '9.9.9.9'
    ports:
      - 80:80
{% if traefik_https %}
      - 443:443
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% if traefik_https and traefik_acme_enabled %} 
      - {{ project_dir}}/traefik/acme-data:/letsencrypt
{% endif %}
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.{{ domain }}`)
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.service=api@internal
      - simplydash.enable=true
      - simplydash.name=Traefik
      - simplydash.link=https://traefik.{{ domain }}
      - simplydash.group=admin
      - simplydash.description=Traefik Dashboard @ {{ ansible_facts.hostname }}

networks:
  {{ traefik_network }}:
    external: true
