version: "3.8"

services:
  excalidraw:
    container_name: excalidraw
    hostname: excalidraw
    image: excalidraw/excalidraw:{{ excalidraw_version }}
    restart: unless-stopped
    networks:
      - {{ excalidraw_network }}
    expose:
      - 80
    labels:
      - domain={{ domain }}
      - traefik.enable=true
      - traefik.http.services.excalidraw.loadbalancer.server.port=80
      - traefik.http.routers.excalidraw.rule=Host(`excalidraw.{{ domain }}`)
      - traefik.http.routers.excalidraw.entrypoints=websecure
      - traefik.http.routers.excalidraw.service=excalidraw
      - simplydash.enable=true
      - simplydash.name=Excalidraw
      - simplydash.description=Draw nice diagrams
      - simplydash.link=https://excalidraw.{{ domain }}
      - simplydash.group=apps
      - simplydash.icon=https://github.com/excalidraw/excalidraw/raw/master/public/logo-180x180.png

networks:
  {{ excalidraw_network }}:
    external: true
