version: "3.8"

services:
  portainer:
    container_name: portainer
    hostname: portainer
    image: portainer/portainer-ce:{{ portainer_version }}
    restart: unless-stopped
    environment:
      - PUID={{ ansible_facts.user_uid }}
      - PGID={{ ansible_facts.user_gid }}
      - TZ={{ timezone }}
    networks:
      - {{ portainer_network }}
    expose:
      - 9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ project_dir }}/portainer/data:/data
    labels:
      - traefik.enable=true
      - traefik.http.services.portainer.loadbalancer.server.port=9000
      - traefik.http.routers.portainer.rule=Host(`portainer.{{ domain }}`)
      - traefik.http.routers.portainer.entrypoints=websecure
      - traefik.http.routers.portainer.service=portainer
      - simplydash.enable=true
      - simplydash.name=Portainer
      - simplydash.description=Manage Docker hosts
      - simplydash.link=https://portainer.{{ domain }}
      - simplydash.group=admin

networks:
  {{ portainer_network }}:
    external: true
