version: "3.8"

services:
  cyberchef:
    container_name: cyberchef
    hostname: cyberchef
    image: mpepping/cyberchef:{{ cyberchef_version }}
    restart: unless-stopped
    user: "{{ ansible_facts.user_uid }}:{{ ansible_facts.user_gid }}"
    networks:
      - {{ cyberchef_network }}
    expose:
      - 8000
    labels:
      - traefik.enable=true
      - traefik.http.services.cyberchef.loadbalancer.server.port=8000
      - traefik.http.routers.cyberchef.rule=Host(`cyberchef.{{ domain }}`)
      - traefik.http.routers.cyberchef.entrypoints=websecure
      - traefik.http.routers.cyberchef.service=cyberchef
      - simplydash.enable=true
      - simplydash.name=Cyberchef
      - simplydash.description=Random Dev Tools
      - simplydash.link=https://cyberchef.{{ domain }}
      - simplydash.group=apps

networks:
  {{ cyberchef_network }}:
    external: true
