version: "3.8"

services:
  homarr:
    container_name: homarr
    hostname: homarr
    image: ghcr.io/ajnart/homarr:{{ homarr_version }}
    restart: unless-stopped
    user: "{{ ansible_facts.user_uid }}:{{ ansible_facts.user_gid }}"
    environment:
      TZ: {{ timezone }}
      BASE_URL: {{ homarr_baseurl }}
      PASSWORD: $PASSWORD
      PORT: 7575
    volumes:
      - {{ project_dir }}/homarr/configs:/app/data/configs
      - {{ project_dir }}/homarr/icons:/app/public/icons
    networks:
      - {{ homarr_network }}
    ports:
      - 7575:7575
    labels:
      - domain={{ domain }}
{% if 'traefik' in apps %}
      - traefik.enable=true
      - traefik.http.routers.homarr.rule=Host(`homarr.{{ domain }}`)
      - traefik.http.routers.homarr.entrypoints=websecure
      - traefik.http.services.homarr.loadbalancer.server.port=7575
      - traefik.http.routers.homarr.service=homarr
      - traefik.http.routers.homarr.tls=true
      - traefik.http.routers.homarr.tls.certresolver=acme_provider
{% endif %}

networks:
  {{ homarr_network }}:
    external: true
