---
title: "{{ domain }}"
subtitle: "dashboard"

header: false

columns: "4"

defaults:
  layout: list
  colorTheme: dark

theme: default

colors:
  dark:
    highlight-primary: "#3584e4"
    highlight-secondary: "#1e1e1e"
    highlight-hover: "#78aeed"
    background: "#242424"
    card-background: "#1e1e1e"
    text: "#ffffff"
    text-header: "#ffffff"
    text-title: "#ffffff"
    text-subtitle: "#ffffff"
    card-shadow: rgba(0, 0, 0, 0.4)
    link: "#3584e4"
    link-hover: "#78aeed"

services:
{% for category in homer_services %}
  - name: "{{ category.name | capitalize() }}"
    items:
{% for item in category.links %}
      - name: "{{ item.name | capitalize() }}"
        subtitle: "{{ item.description | default(item.url) }}"
        url: "{{ item.url }}"
{% if item.icon is defined %}
        icon: "{{ item.icon }}"
{% endif %}
{% endfor %}

{% endfor %}
