version: "3.8"

services:
  gitea:
    container_name: gitea
    hostname: gitea
    image: gitea/gitea:{{ gitea_version | default('latest') }}
    restart: unless-stopped
    environment:
      - USER_UID={{ ansible_facts.user_uid }}
      - USER_GID={{ ansible_facts.user_gid }}
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea-postgres:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD=gitea
      - GITEA__server__DOMAIN=gitea.{{ domain }}
      - GITEA__server__ROOT_URL=https://gitea.{{ domain }}
      - GITEA__server__SSH_DOMAIN=gitea.{{ domain }}
      - GITEA__server__SSH_PORT=222
      - GITEA__ui__DEFAULT_THEME=arc-green
    networks:
      - {{ gitea_network | default(networks[0]) }}
    ports:
      - 3000:3000
      - "222:22"
    volumes:
      - {{ project_dir }}/gitea/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db
    labels:
      - domain={{ domain }}
{% if 'traefik' in services %}
      - traefik.enable=true
      - traefik.http.routers.gitea.rule=Host(`gitea.{{ domain }}`)
      - traefik.http.routers.gitea.entrypoints=websecure
      - traefik.http.services.gitea.loadbalancer.server.port=3000
      - traefik.http.routers.gitea.service=gitea
      - traefik.http.routers.gitea.tls.certresolver={{ traefik_acme_provider }}
{% endif %}
{% if 'flame' in services %}
      - flame.type=application
      - flame.name=gitea
      - flame.url=gitea.{{ domain }}
      - flame.icon=git
{% endif %}
{% if 'watchtower' in services %}
{% if gitea_autoupdate is defined and gitea_autoupdate == "enable" %}
      - com.centurylinklabs.watchtower.enable=true
{% endif %}
{% if gitea_autoupdate is not defined or gitea_autoupdate == "monitor" %}
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.monitor-only=true
{% endif %}
{% endif %}

  db:
    container_name: gitea-postgres
    hostname: gitea-postgres
    image: postgres:{{ gitea_postgres_version | default('14') }}
    restart: unless-stopped
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
      - POSTGRES_DB=gitea
    networks:
      - {{ gitea_network | default(networks[0]) }}
    volumes:
      - {{ project_dir }}/gitea/db:/var/lib/postgresql/data
    labels:
      - domain={{ domain }}
{% if 'watchtower' in services %}
{% if gitea_autoupdate is defined and gitea_autoupdate == "enable" %}
      - com.centurylinklabs.watchtower.enable=true
{% endif %}
{% if gitea_autoupdate is not defined or gitea_autoupdate == "monitor" %}
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.monitor-only=true
{% endif %}
{% endif %}

networks:
  {{ gitea_network | default(networks[0]) }}:
    external: true
