version: "3.8"

services:
  portainer_agent:
    container_name: portainer_agent
    hostname: portainer_agent
    image: portainer/agent:{{ portainer_agent_version }}
    restart: unless-stopped
    networks:
      - {{ portainer_agent_network }}
    expose:
      - 9001
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    labels:
      - traefik.enable=true
      - traefik.http.services.portainer-agent.loadbalancer.server.port=9001
      - traefik.http.routers.portainer-agent.rule=Host(`portainer-agent.{{ domain }}`)
      - traefik.http.routers.portainer-agent.entrypoints=websecure
      - traefik.http.routers.portainer-agent.service=portainer-agent

networks:
  {{ portainer_agent_network }}:
    external: true
