version: "3.8"

services:
  portainer_agent:
    container_name: portainer_agent
    hostname: portainer_agent
    image: portainer/agent:{{ portainer_agent_version }}
    restart: unless-stopped
    networks:
      - {{ portainer_agent_network }}
    ports:
      - 9001:9001
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    labels:
      - domain={{ domain }}

networks:
  {{ portainer_agent_network }}:
    external: true
