version: "3.8"

services:
  transmission:
    container_name: transmission
    hostname: transmission
    image: ghcr.io/linuxserver/transmission:{{ transmission_version | default('latest') }}
    restart: unless-stopped
    environment:
      - PUID={{ ansible_facts.user_uid }}
      - PGID={{ ansible_facts.user_gid }}
      - TZ={{ timezone }}
      - TRANSMISSION_WEB_HOME=/flood-for-transmission/
{% if transmission_user is defined and transmission_pass is defined %}
      - USER={{ transmission_user }}
      - PASS={{ transmission_pass }}
{% endif %}
    volumes:
      - {{ project_dir }}/transmission/data:/config
      - {{ transmission_download_volume }}:/downloads
      - {{ transmission_watch_volume }}:/watch
    networks:
      - {{ transmission_network | default(networks[0]) }}
    ports:
      - 51413:51413
      - 51413:51413/udp
      - 9091:9091
    labels:
      - domain={{ domain }}
{% if 'traefik' in services %}
      - traefik.enable=true
      - traefik.http.routers.transmission.rule=Host(`transmission.{{ domain }}`)
      - traefik.http.routers.transmission.entrypoints=websecure
      - traefik.http.services.transmission.loadbalancer.server.port=9091
      - traefik.http.routers.transmission.service=transmission
      - traefik.http.routers.transmission.tls.certresolver={{ traefik_acme_provider }}
{% endif %}
{% if 'flame' in services %}
      - flame.type=application
      - flame.name=transmission
      - flame.url=transmission.{{ domain }}
      - flame.icon=download
{% endif %}
{% if 'watchtower' in services %}
{% if transmission_autoupdate is defined and transmission_autoupdate == "enable" %}
      - com.centurylinklabs.watchtower.enable=true
{% endif %}
{% if transmission_autoupdate is not defined or transmission_autoupdate == "monitor" %}
      - com.centurylinklabs.watchtower.monitor-only=true
{% endif %}{% endif %}

networks:
  {{ transmission_network | default(networks[0]) }}:
    external: true

volumes:
  {{ transmission_download_volume }}:
    external: true
  {{ transmission_watch_volume }}:
    external: true
