version: "3.8"

services:
  dnsmasq:
    container_name: dnsmasq
    hostname: dnsmasq
    image: 4km3/dnsmasq:{{ dnsmasq_version | default('latest') }}
    restart: unless-stopped
    volumes:
      - ./dnsmasq.conf:/etc/dnsmasq.conf:ro
    networks:
      - {{ dnsmasq_network | default(networks[0]) }}
    ports:
      - 53:53/tcp
      - 53:53/udp
    labels:
      - domain={{ domain }}
{% if 'watchtower' in services %}
{% if dnsmasq_autoupdate is defined and dnsmasq_autoupdate == "enable" %}
      - com.centurylinklabs.watchtower.enable=true
{% endif %}
{% if dnsmasq_autoupdate is not defined or dnsmasq_autoupdate == "monitor" %}
      - com.centurylinklabs.watchtower.monitor-only=true
{% endif %}
{% endif %}

networks:
  {{ dnsmasq_network | default(networks[0]) }}:
    external: true
