---
version: "3.8"

services:
  watchtower:
    container_name: watchtower
    hostname: watchtower
    image: containrrr/watchtower:{{ watchtower_version }}
    restart: unless-stopped
    command:
      - "--schedule={{ watchtower_schedule }}"
      - "--monitor-only"
      - "--no-startup-message"
{% if 'slack' == watchtower_notifications or 'discord' == watchtower_notifications %}
      - "--notifications=slack"
      - "--notification-slack-hook-url=$SLACK_HOOK_URL"
      - "--notification-slack-identifier={{ domain }}"
{% endif %}
{% if 'gotify' == watchtower_notifications %}
      - "--notifications=gotify"
      - "--notification-gotify-url={{ watchtower_gotify_url }}"
      - "--notification-gotify-token=$GOTIFY_TOKEN"
{% endif %}
    environment:
      - TZ={{ timezone }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{ watchtower_network }}
    labels:
      - domain={{ domain }}
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.monitor-only=true

networks:
  {{ watchtower_network }}:
    external: true
