version: "3.8"

services:
  portainer-agent:
    container_name: portainer-agent
    hostname: portainer-agent
    image: portainer/agent:{{ portainer_agent_version | default('latest') }}
    restart: unless-stopped
    networks:
      - {{ portainer_agent_network | default(networks[0]) }}
    ports:
      - 9001:9001
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    labels:
      - domain={{ domain }}
{% if 'watchtower' in services %}
{% if portainer_agent_autoupdate is defined and portainer_agent_autoupdate == "enable" %}
      - com.centurylinklabs.watchtower.enable=true
{% endif %}
{% if portainer_agent_autoupdate is not defined or portainer_agent_autoupdate == "monitor" %}
      - com.centurylinklabs.watchtower.enable=true
      - com.centurylinklabs.watchtower.monitor-only=true
{% endif %}
{% endif %}

networks:
  {{ portainer_agent_network }}:
    external: true
